<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PSUAttEnd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>292F0BD0223E24A5004D2CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>292F0BE4223E24A6004D2CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>292F0BEF223E24A6004D2CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
